<h1>Edit Photo <%= @edited_photo.id %></h1>

<form action="/update_photo/<%= @edited_photo.id %>">
  <div>
    <label for="source_input">
      Image URL
    </label>

    <input id="source_input" type="text" name="the_source" value="<%= @edited_photo.source %>">
  </div>

  <div>
    <label for="caption_input">
      Caption
    </label>

    <input id="caption_input" type="text" name="the_caption" value="<%= @edited_photo.caption %>">
  </div>

  <button>
    Update Photo
  </button>
</form>
